<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!--Set title-->
        <title>Registered Flight Modules</title>

        <!--Load local jquery and bootstrap min js-->
        <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>

        <!--Load bootstrap css-->
        <link rel="stylesheet" href="{{ url_for('static',filename='style/bootstrap.min.css') }}"/>

        <!--Load page specific CSS-->
        <link rel="stylesheet" href="{{ url_for('static',filename='style/dmonitor.css') }}"/-->
        <link rel="stylesheet" href="{{ url_for('static',filename='style/font-awesome.min.css') }}"/>

        <link rel="stylesheet" href="static/style/navbar-style.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="navbar-toggler-icon"></span>
                        </button> <a class="navbar-brand" href="https://redwinglabs.in"><img height='45' width='120' src="{{ url_for('static',filename='images/redwing-logo-current.png') }}" alt='redwing-logo'/></a>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/gcsportal"><i class="fas fa-home"></i> Home<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/map"><i class="fas fa-map-marker-alt"></i> Map</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/incidents"><i class="fas fa-exclamation-circle"></i> Incidents</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href='/jobtracker'><i class="fas fa-business-time"></i> Job Tracker</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href='/pilotdb'><i class="fas fa-plane-departure"></i> Pilots</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link" href='#'><i class="fab fa-avianex"></i> Fleet Monitor</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href='/inventory'><i class="fas fa-boxes"></i> Inventory</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/npntauthentication"><i class="fas fa-key"></i> NPNT Authentication</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLinkx" data-toggle="dropdown"><i class="fas fa-tools"></i> Tools</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkx">
                                        <a class="dropdown-item" href="/logplotter">Log File Parse/Plot</a>
                                        <a class="dropdown-item" href="/logfilestorage">Log File Storage</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href='https://redwing-aerospace-laboratories.github.io/redwing-aerospace-laboratories.github.io/'><i class="fas fa-book"></i> Documentation</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://www.redwinglabs.in/about"><i class="fas fa-address-card"></i> About Us</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav ml-md-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"><i class="fas fa-user"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="/gcsuserprofile"><i class="fas fa-user-cog"></i>Account Settings</a>
                                        <div class="dropdown-divider">
                                        </div> <a class="dropdown-item" href="/gcslogout"><i class='fas fa-sign-out-alt'></i>Log out</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    <div class="container-fluid">
        <br>
        <div class="page-header">
            <h1>Fleet Monitor</h1>
        </div>
        <br>
        <div id="no-msg" style="display:none;" class="page-header">
            <h3>
                There are currently no Registered Flight Module Providers in database.
            </h3>
        </div>
        <br>
        <table id='dronetable' class="table table-hover">
            <thead id='thead' style='display:none;'>
                <tr>
                    <th class="padded">Serial No</th>
                    <th class="padded">Registered FM Provider Name</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rfmps %}
                    <tr class="clickable-row" id="{{ row.id }}">
                        <td class="padded">{{ row.id }}</td>
                        <td class="padded">{{ row.rfmp_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
                     
        <div class="container" style="text-align:center;">
            <form action='/newrfmpaction' method='POST'>
                <input type='text' class='form-control' name='rfmpname' placeholder='new RFMP Name' width='50px'/>
                <br>
                <input type='submit' class="btn btn-primary" value='Add new RFMP'/>
        </div>
    </div>
    <script>
    $(document).ready (function () {
        var count = parseInt("{{ count }}");
        $(document).ready (function() {
            if ( count == 0 ) {
                $("#no-msg").css("display","block");
            }
            else {
                $("#thead").css("display","table-header-group");
            }
        });
       /* 
        $("#dronetable").find ('tr.clickable-row').click ( function() {
            window.location.href = '/droneview?drone='+($(this).attr("id"));
            //alert ("You clicked " + ($(this).attr("id")));
        });
        $(".status").each (function () {
            var status = $(this).html().trim();
            if ( status == 'Available' ) {
                $(this).css ("background-color","green");
                $(this).css ("color","#e3e3e3");
            }
        });*/
    });

    </script>
    </body>
</html>
