<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!--Set title-->
        <title>Jobs Schedule for {{ drone.drone_name }}</title>

        <!--Load local jquery and bootstrap min js-->
        <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>

        <!--Load bootstrap css-->
        <link rel="stylesheet" href="{{ url_for('static',filename='style/bootstrap.min.css') }}"/>

        <!--Load page specific CSS-->
        <link rel="stylesheet" href="{{ url_for('static',filename='style/droneview.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='style/font-awesome.min.css') }}"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="navbar-toggler-icon"></span>
                        </button> <a class="navbar-brand" href="https://redwinglabs.in"><img height='45' width='120' src="{{ url_for('static',filename='images/redwing-logo-current.png') }}" alt='redwing-logo'/></a>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#"><i class="fas fa-home"></i> Home<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/map"><i class="fas fa-map-marker-alt"></i> Map</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/incidents"><i class="fas fa-exclamation-circle"></i> Incidents</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href='/jobtracker'><i class="fas fa-business-time"></i> Job Tracker</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href='/dronemonitor'><i class="fab fa-avianex"></i> Fleet Monitor</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href='/inventory'><i class="fas fa-boxes"></i> Inventory</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/npntauthentication"><i class="fas fa-key"></i> NPNT Authentication</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLinkx" data-toggle="dropdown"><i class="fas fa-tools"></i> Tools</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkx">
                                        <a class="dropdown-item" href="/logplotter">Log File Parse/Plot</a>
                                        <a class="dropdown-item" href='/logfilestorage'>Log File Storage</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href='https://redwing-aerospace-laboratories.github.io/redwing-aerospace-laboratories.github.io/'><i class="fas fa-book"></i> Documentation</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="http://www.redwinglabs.in/about"><i class="fas fa-address-card"></i> About Us</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav ml-md-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"><i class="fas fa-user"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="/gcsuserprofile"><i class="fas fa-user-cog"></i>Account Settings</a>
                                        <div class="dropdown-divider">
                                        </div> <a class="dropdown-item" href="/gcslogout"><i class='fas fa-sign-out-alt'></i>Log out</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div id="header" style="display:none;">
                <br><br>
                <h2 style="text-align:center;">Job Schedule for Drone {{ drone.drone_name }}</h2>
                <br>
            </div>
            <div id="no-msg" style="display:none;">
                <br><br><br>
                <h3 style="text-align:center;" id="no-msg">
                    There are currently no jobs assigned to this drone.
                </h3>
                <br>
                <div style="text-align:center;">
                    <a href='/newdeployment' style="text-align:center;" class="btn btn-primary">Assign new job</a>
                </div>
            </div>
            <table class="table table-hover">
                <thead id="thead" style="display:none;">
                    <tr>
                        <th class="padded">Date/Time</th>
                        <th class="padded">Origin</th>
                        <th class="padded">Destination</th>
                        <th class="padded">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in jobs %}
                        <tr class="clickable-row" id="{{ row.id }}">
                            <td class="padded">{{ row.date }}</td>
                            <td class="padded">{{ row.location_origin_string }}</td>
                            <td class="padded">{{ row.location_dest_string }}</td>
                            <td class="padded status">{{ row.status }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br><br>
            <div style="text-align:center;">
                <button id='deldrone' onclick='checkconfirm()' class="btn btn-primary">Disable this drone</button>
                <br><br>
                <div style="color:red;display:none;" id='error'>
                    Error: This drone has pending jobs. Unable to disable! Please clear the job queue first.
                </div>
            </div>
        </div>
    <script>
        var count = {{ count }};
        var errorstr = "{{ error }}";
        $(document).ready (function () {
            if ( errorstr == 'deleteerror' ) {
                console.log (error);
                $("#error").css ('display','block');
            }
            console.log (count);
            if ( count == 0 ) {
                $("#no-msg").css ('display','block');
            }
            else {
                $("#thead").css ('display','table-header-group');
                $("#header").css ('display','block');
            }
        });
        $(".status").each (function () {
            var status = $(this).html().trim();
            if ( status == 'PENDING APPROVAL') {
                $(this).css ("background-color","yellow");
                $(this).css ("color","black");
            }
            else if ( status == "SCHEDULED" ) {
                $(this).css ("background-color","blue");
                $(this).css ("color","white");
            }
        });
        function checkconfirm () {
            if ( confirm ("Are you sure you want to disable this drone?(It may have pending jobs scheduled!)") ) {
                window.location.href = '/disabledrone?drone={{ drone.id }}';
            }
        }

    </script>
    </body>
</html>
