#thead {
    font-size:1.1em;
    text-transform:uppercase;
    background-color:#d6d2d2;
}

th {
    background-color:#cacccf;
}
.padded {
    padding: 5px 5px 5px 5px;
    text-align:center;
}

.status {
    text-transform:uppercase;
    font-size:15px;
    font-weight:bold;
}
