.container-left {
    position:absolute;
    left:0px;
    width:50%;
    padding-left:80px;
}

.container-right {
    position:absolute;
    right:0px;
    width:50%;
    height:550px;
    left:50%;
    padding-right:50px;
    padding-left:50px;
    padding-top:50px;
}

.marked {
    font-size:20px;
    font-weight:bold;
    text-transform:uppercase;
}

td {
    font-size:20px;
}
