<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!--Set title-->
        <title>Change Password</title>
        <!--Load local jquery and bootstrap min js-->
        <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
        <!--Load bootstrap css-->
        <link rel="stylesheet" href="{{ url_for('static',filename='style/bootstrap.min.css') }}"/>
        <!--Load page specific CSS-->
        <link rel="stylesheet" href="{{ url_for('static',filename='style/gcs_changepw.css') }}"/>
    </head>
    <body>
        <div class="main">
            <section class="signup">
                <div class="container">
                    <div class="signup-content">
                        <form method="POST" id="signup-form" class="signup-form" action="/updatepassword_action">
                            <!--div class="form-row"-->
                                <div class="form-group">
                                    <h1>Change Password</h1>
                                </div>
                            <!--/div-->
                            <!--div class="form-row"-->
                                <div class="form-group">
                                    <label>Current Password</label>
                                    <input type="password" class="form-control" name="old_password" id="old_password" required/>
                                </div>
                            <!--/div-->
                            <!--div class="form-row"-->
                                <div class="form-group">
                                    <label>New Password</label>
                                    <input type="password" class="form-control" name="password" id="password" required/>
                                </div>
                            <!--/div-->
                            <!--div class="form-row"-->
                                <div class="form-group">
                                    <label>Confirm New  Password</label>
                                    <input type="password" class="form-control" name="re_password" id="re_password" required/>
                                    <span id="message"></span>
                                </div>
                            <!--/div-->
                            <div class="form-group">
                                <input type="submit" name="submit" id="submit" class="btn
                                btn-primary btn-outline-secondary" value="Update Password" disabled/>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    <script type="text/javascript">
        $("#password,#re_password").on ('keyup',function () {
            if ( $("#password").val() == $("#re_password").val ()) {
                $("#message").html('Matching').css('color','green');
                if ( $("#password").val() != "") {
                    $("#submit").attr ("disabled",false);
                }
            }
            else {
                $("#message").html("Not matching").css('color','red');
                $("#submit").attr ("disabled",false);
            }
        });
        $(document).ready ( function () {
            var result = "{{ result }}";
            if (result == "error" ) {
                alert ("Incorrect password!");
            }
        });
    </script>
    </body>
</html>
