<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!--Set title-->
        <title>Fleet Monitor</title>

        <!--Load local jquery and bootstrap min js-->
        <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>

        <!--Load bootstrap css-->
        <link rel="stylesheet" href="{{ url_for('static',filename='style/bootstrap.min.css') }}"/>

        <!--Load page specific CSS-->
        <!--link rel="stylesheet" href="{{ url_for('static',filename='style/gcshome.css') }}"/-->
        <link rel="stylesheet" href="{{ url_for('static',filename='style/font-awesome.min.css') }}"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="https://redwinglabs.in"><img height='45' width='120' src="{{ url_for('static',filename='images/redwing-logo-current.png') }}" alt='redwing_logo'/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/gcsportal">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Job Tracker</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Fleet Monitor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.redwinglabs.in/about">About Us</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto dropdown-menu-right"> 
                    <li class="nav-item dropdown ml-auto">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdowm-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a href="/gcsuserprofile" class="dropdown-item"><i class="fas fa-user-cog"></i> Account Settings</a>
                            <a href="/gcslogout" class="dropdown-item"><i class="fas fa-sign-out-alt"></i>Log out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="no-msg" style="display:none;">
            <br><br><br>
            <h3 style="text-align:center;">
                There is currently no information about any drone in the database!
            </h3>
        </div>
        <table id='dronetable' class="table table-hover">
            <thead id='thead' style='display:none;'>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Model</th>
                    <th>Motor Count</th>
                    <th>Battery Type</th>
                </tr>
            </thead>
            <tbody>
                {% for row in drones %}
                    <tr class="clickable-row" id="{{ row[0] }}">
                        <td>
                            <img src="{{ url_for('static',filename='images/drone.jpg') }}" height='50' width='50'/>
                        </td>
                        {% for item in row %}
                            <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
                     
        <div class="container" style="text-align:center;">
        <a href="/newdrone" class="btn btn-primary">Add new drone</a>
        </div>
    </body>
    <script>
        var count = parseInt("{{ count }}");
        $(document).ready (function() {
            if ( count == 0 ) {
                $("#no-msg").css("display","block");
            }
            else {
                $("#thead").css("display","table-header-group");
            }
        });
        
        $("#dronetable").find ('tr').click ( function() {
            alert ("You clicked " + ($(this).attr("id")));
        });


    </script>
</html>
