<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!--Set title-->
        <title>Redwing GCS Sign Up Page</title>
        <!--Load local jquery and bootstrap min js-->
        <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/jquery.validate.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
        <!--Load bootstrap css-->
        <link rel="stylesheet" href="{{ url_for('static',filename='style/bootstrap.min.css') }}"/>
        <!--Load page specific CSS-->
        <link rel="stylesheet" href="{{ url_for('static',filename='style/gcssignup.css') }}"/>
    </head>
    <body>
        <div class="main">
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" name="signup-form" class="signup-form" action="/gcssignupform">
                        <!--div class="form-row"-->
                            <div class="form-group">
                                <h1>Sign up</h1>
                            </div>
                        <!--/div-->
                        <!--div class="form-row"-->
                            <div class="form-group">
                                <input type="text" class="form-control" name="firstname" id="firstname" required
                                                                                         placeholder = "FIRST NAME"/>
                            </div>
                        <!--/div-->
                        <!--div class = "form-row"-->
                            <div class="form-group">
                                <input type="text" class="form-control" name="lastname" id="lastname" required
                                                                                        placeholder = "LAST NAME"/>
                            </div>
                        <!--/div-->
                        <!--div class = "form-row"-->
                            <div class="form-group">
                                <input type="email" class="form-control" name="email_id" id="email_id" required
                                                                                         placeholder = "EMAIL ADDRESS"/>
                            </div>
                        <!--/div-->
                        <!--div class="form-row"-->
                            <div class="form-group">
                                <input type="text" class="form-control" name="username" id="username" required placeholder="USERNAME"/>
                            </div>
                        <!--/div-->
                        <!--div class="form-row"-->
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" id="password" required placeholder="PASSWORD"/>
                            </div>
                        <!--/div-->
                        <!--div class="form-row"-->
                            <div class="form-group">
                                <input type="password" class="form-control" name="re_password" id="re_password" required placeholder="CONFIRM PASSWORD"/>
                                <span id="message"></span>
                            </div>
                        <!--/div-->
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" onclick="return p_chech()" class="btn
                            btn-primary btn-outline-secondary" value="Submit" disabled/>
                        </div>
                    </form>
                </div>
            </div
        </div>
        <script type="text/javascript">
            $('#password,#re_password').on ('keyup',function () {
                if ( $('#password').val() == $('#re_password').val()) {
                    $('#message').html ('Matching').css('color','green');
                    if ( $('#password').val() != "") {
                        $("#submit").attr ("disabled",false);
                    }
                } else {
                    $('#message').html ('Not matching').css('color','red');
                    $("#submit").attr ("disabled",true);
                }
            });
$(document).ready (function () {
    var result = "{{ result }}";
    console.log (result);
    if ( result == "error" ) {
        alert (" This username already exists");
    }
});
        </script>
    </body>
</html>
