<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!--Set title-->
        <title>GCS User Profile</title>
        <!--Load local jquery and bootstrap min js-->
        <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/jquery.validate.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
        <!--Load bootstrap css-->
        <link rel="stylesheet" href="{{ url_for('static',filename='style/bootstrap.min.css') }}"/>
        <!--Load page specific CSS-->
        <link rel="stylesheet" href="{{ url_for('static',filename='style/gcsprofile.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static',filename='style/font-awesome.min.css') }}"/>
    </head>
    <body>
        <div class="container">
            <br><br><br>
            <center>
                <i class="fas fa-user" style="font-size:100px;"></i>
            </center>
            <br><br>
            <form id="form_edit" name="form_edit" method="POST" action="/gcsprofileedit">
                <table class="table table-hover">
                    <tbody>
                        <tr class="clickable-row" onclick="update_firstname()" 
                                                  id="tr-firstname">
                            <td>First Name</td>
                            <td><div id="firstname_input">{{ firstname }}</div></td>
                            <td><i class="fas fa-user-edit" 
                                   style="visibility:hidden;" id="i1"></i></td>
                        </tr>
                        <tr class="clickable-row" onclick="update_lastname()"
                                                  id="tr-lastname">
                            <td>Last Name</td>
                            <td><div id="lastname_input">{{ lastname }}</div></td>
                            <td><i id="i2" class="fas fa-user-edit"
                                           style="visibility:hidden;" ></i></td>
                        </tr>
                        <tr class="clickable-row" onclick="update_email()"
                                                  id="tr-email">
                            <td>Email Address</td>
                            <td><div id="email_input">{{ email_id }}</div></td>
                            <td><i id="i3" class="fas fa-user-edit" style="visibility:hidden;"></i></td>
                        </tr>
                        <tr class="clickable-row">
                            <td>Username</td>
                            <td>{{ username }}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <center>
                        <input type="submit" id="update-btn" 
                                class="btn btn-primary btn-outline-secondary" disabled
                                value="Update"/>
                    </center>
            </form>
                </div>
                <script type="text/javascript">
                    var f_trigger = false,e_trigger = false,l_trigger = false;
                    function update_firstname () {
                        if ( ! f_trigger ) {
                            $("#firstname_input").html ("<input type='text'"+
                            " name='firstname_update' id='fname_textbox'/>");
                            $("#fname_textbox").val( "{{ firstname }}");
                        }
                        f_trigger = true;
                        $("#update-btn").attr("disabled",false);
                    }
                    function update_lastname () {
                        if ( ! l_trigger ) {
                            $("#lastname_input").html ("<input type='text'"+
                            " name='lastname_update' id='lname_textbox'/>");
                            $("#lname_textbox").val ("{{ lastname }}");
                        }
                        l_trigger = true;
                        $("#update-btn").attr ("disabled",false);
                    }
                    function update_email () {
                        if ( ! e_trigger ) {
                            $("#email_input").html ("<input type='email'"+
                            " name='email_update' id='email_textbox'/>");
                            $("#email_textbox").val ("{{ email_id }}");

                        }
                        e_trigger = true;
                        $("#update-btn").attr ("disabled",false);

                    }
                    $(document).ready (function () {
                        $("#tr-firstname").hover ( 
                            function () { 
                                $("#i1").css("visibility","visible");
                            },
                            function () {
                                $("#i1").css("visibility","hidden");
                            }
                        );
                        $("#tr-lastname").hover (
                            function () {
                                $("#i2").css("visibility","visible");
                            },
                            function () {
                                $("#i2").css("visibility","hidden");
                            }
                        );
                        $("#tr-email").hover (
                            function () {
                                $("#i3").css("visibility","visible");
                            },
                            function () {
                                $("#i3").css("visibility","hidden");
                            }
                        );
                    });
                </script>
    </body>
</html>
