<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Set title-->
    <title>Redwing GCS</title>

    <!--Load local jquery and bootstrap min js-->
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>

    <!--Load bootstrap css-->
    <link rel="stylesheet" href="{{ url_for('static',filename='style/bootstrap.min.css') }}"/>

    <!--Load page specific CSS-->
    <link rel="stylesheet" href="{{ url_for('static',filename='style/index.css') }}"/>

</head>
<body>
    <div class="header">
        <div class="sides">
            <a href="/gcsportal" class="logo">FMS</a>
        </div>
        <div class="sides"><a href="#"></a></div>
        <div class="info">
            <h1>REDWING AEROSPACE LABS FMS</h1>
        </div>
    </div>
</body>

</html>
