    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!--Set title-->
        <title>New job/deployment</title>

        <!--Load local jquery and bootstrap min js-->
        <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
        
        <script src="{{ url_for('static',filename='js/bootstrap-timepicker.min.js') }}"></script>

        <!--Load bootstrap css-->
        <link rel="stylesheet" href="{{ url_for('static',filename='style/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static',filename='style/bootstrap-timepicker.min.css') }}"/>

        <link rel="stylesheet" href="/static/style/newjob.css">
        <link rel='stylesheet' href='/static/style/navbar-style.css'/>
        <!--Load page specific CSS-->
        <link rel="stylesheet" href="{{ url_for('static',filename='style/font-awesome.min.css') }}"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
        <script src="https://cdn.airmap.io/js/contextual-airspace/v1.0/airmap.contextual-airspace-plugin.min.js" async=false defer=false></script>       
        <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js"></script>
        <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css" rel="stylesheet" />
        <style>
            .vmap {
                height:600px;
                width:100%;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="navbar-toggler-icon"></span>
                        </button> <a class="navbar-brand" href="https://redwinglabs.in"><img height='45' width='120' src="{{ url_for('static',filename='images/redwing-logo-current.png') }}" alt='redwing-logo'/></a>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#"><i class="fas fa-home"></i> Home<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/map"><i class="fas fa-map-marker-alt"></i> Map</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fas fa-exclamation-circle"></i> Incidents</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href='/jobtracker'><i class="fas fa-business-time"></i> Job Tracker</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href='/pilotdb'><i class="fas fa-plane-departure"></i> Pilots</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link" href='/dronemonitor'><i class="fab fa-avianex"></i> Fleet Monitor</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href='/inventory'><i class="fas fa-boxes"></i> Inventory</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href='/npntauthentication'><i class="fas fa-key"></i> NPNT Authentication</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLinkx" data-toggle="dropdown"><i class="fas fa-tools"></i> Tools</a>
                                    <div class="dropdown-menu" aria-labelledby"navbarDropdownMenuLinkx">
                                        <a class="dropdown-item" href="/logplotter">Log File Parse/Plot</a>
                                        <a class="dropdown-item" href='/logfilestorage'>Log File Storage</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href='https://redwing-aerospace-laboratories.github.io/redwing-aerospace-laboratories.github.io/'><i class="fas fa-book"></i> Documentation</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://www.redwinglabs.in/about"><i class="fas fa-address-card"></i> About Us</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav ml-md-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"><i class="fas fa-user"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="/gcsuserprofile"><i class="fas fa-user-cog"></i>Account Settings</a>
                                        <div class="dropdown-divider">
                                        </div> <a class="dropdown-item" href="/gcslogout"><i class='fas fa-sign-out-alt'></i>Log out</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <br><br>
        <div class="container">
            <br>
            <h1 style="text-align:center;">Add new job/deployment</h1>
            <br>
            <form action='/newjobform' method='POST'>
                <div class="form-group">
                    <label for="datePicker">Date:</label>
                    <input required type="date" class="form-control" name='date' id='date' placeholder='DD/MM/YYYY'>
                </div>
                <div class="form-group">
                    <label for="timePicker">Time:</label>
                    <input required type="text" class="form-control input-small" id='time' name='time'>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                </div>
                <div class="form-group">
                    <label for='drone'>Drone:</label>
                    <select required class="form-control" id="drone_select" name='drone_select'>
                        {% for item in drones %}
                        <option value="{{ item.id }}">{{ item.drone_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for='payload'>Payload:</label>
                        <select required class="form-control" id="payload_select" name="payload_select">
                            {% for item in payloads %}
                                <option value="{{ item.id }}">{{ item.item_type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    &nbsp;&nbsp;
                    <div class="form-group">
                        <label for='stock'>Unit Count:</label>
                        <input required type="number" class="form-control" name="count" id="count">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for='location_lat'>Origin Location(Latitude):</label>
                        <input required type="text" class="form-control" id='origin-lat' name='origin-lat'>
                    </div>
                    &nbsp;&nbsp;
                    <div class="form-group">
                        <label for='location_long'>Origin Location(Longitude):</label>
                        <input required type="text" class="form-control" id='origin-long' name='origin-long'>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label>Destination Location(Latitude):</label>
                        <input required type="text" class="form-control" id="dest-lat" name='dest-lat'>
                    </div>

                    &nbsp;&nbsp;
                    <div class="form-group">
                        <label>Destination Location(Longitude):</label>
                        <input required type="text" class="form-control" id="dest-long" name='dest-long'>
                    </div>
                </div>
                <span id="error_coords" style="display:none;">Please enter all values for coordinates</span>
			    <div class="form-group" style="text-align:center;">
                    <button type=button class="btn btn-primary" onclick="mapcoords()">Check coordinates</button>
                </div>
                <div class="vmap" id='vmap' style="display:none;">
                </div>
                <br>
                <div class="form-group" style="text-align:center;">
                    <input type='submit' class='btn btn-primary' value='Submit to ATC'>
                </div>
            </form>
        </div>
    <script>
        $('#time').timepicker();
        function mapcoords() {
                var olat = parseFloat($("#origin-lat").val());
                var olon = parseFloat($("#origin-long").val());
                var dlat = parseFloat ($("#dest-lat").val());
                var dlon = parseFloat ($("#dest-long").val());
                if ( isNaN(olat) || isNaN(olon) || isNaN(dlon) || isNaN(dlat) ) {
                    $("#error_coords").css ("color","red");
                    $("#error_coords").css ("display","block");
                }
                else {
                    $("#vmap").css ("display","block");
                    $("#error_coords").css("visibility","hidden");
                     const AIRMAP_API_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjcmVkZW50aWFsX2lkIjoiY3JlZGVudGlhbHxKZ1FseEV6aDNhWFh2TENvZU1Za1JUeXFiZDJhIiwiYXBwbGljYXRpb25faWQiOiJhcHBsaWNhdGlvbnxHeGFZNTVxdFo4ZUE3Q1hBUEV3a2NuZ2RNTVEiLCJvcmdhbml6YXRpb25faWQiOiJkZXZlbG9wZXJ8S1ltUUd5WGZSd1o5MkxIZ2VaeG9SU0FHUkdQMyIsImlhdCI6MTU1OTI5MTAwNn0.f5BBtwQwuCNuiqDSQD3rQdNOfilmRzpcFYoDqXDYlTs'
                const MAPBOX_ACCESS_TOKEN = 'pk.eyJ1IjoiY2Fub3BlZXJ1cyIsImEiOiJjandidGhuZDkwa2V2NDl0bDhvem0zcDMzIn0.g1NXF5VQiDwn66KAsr-_dw'
                mapboxgl.accessToken = MAPBOX_ACCESS_TOKEN;
                var map = new mapboxgl.Map ({
                    container:'vmap',
                    style:'https://api.airmap.io/maps/v4/tilejson/airports_recreational,class_b?apikey='+AIRMAP_API_KEY+'&theme=standard',
                    zoom:9,
                    center:[olon,olat]
                });
                var framesPerSecond = 15; 
                var initialOpacity = 1
                var opacity = initialOpacity;
                var initialRadius = 8;
                var radius = initialRadius;
                var maxRadius = 18;
                map.on('load', function () {
                    // Add a source and layer displaying a point which will be animated in a circle.
                    map.addSource('point', {
                        "type": "geojson",
                        "data": {
                            "type": "Point",
                            "coordinates": [
                                olon, olat
                            ]
                        }
                    });
                    map.addSource ('point2', {
                        "type":"geojson",
                        "data": {
                            "type": "Point",
                            "coordinates": [
                                dlon,dlat
                                ]
                        }
                    });
                    map.addLayer({
                        "id": "point",
                        "source": "point",
                        "type": "circle",
                        "paint": {
                            "circle-radius": initialRadius,
                            "circle-radius-transition": {duration: 0},
                            "circle-opacity-transition": {duration: 0},
                            "circle-color": "#007cbf"
                        }
                    });
                    map.addLayer({
                        "id": "point1",
                        "source": "point",
                        "type": "circle",
                        "paint": {
                            "circle-radius": initialRadius,
                            "circle-color": "#007cbf"
                        }
                    });
                    map.addLayer ({
                        "id":"point2",
                        "source":"point2",
                        "type":"circle",
                        "paint": {
                            "circle-radius":initialRadius,
                            "circle-radius-transition":{duration:0},
                            "circlr-opacity-transition":{duration:0},
                            "circle-color":"#cc0000"
                        }
                    });
                    map.addLayer ({
                        "id":"point3",
                        "source":"point2",
                        "type":"circle",
                        "paint": {
                            "circle-radius" : initialRadius,
                            "circle-color": "#cc0000"
                        }
                    });
                    map.addLayer({
						"id": "route",
						"type": "line",
						"source": {
							"type": "geojson",
							"data": {
								"type": "Feature",
								"properties": {},
								"geometry": {
									"type": "LineString",
									"coordinates": [
										[olon,olat],
										[dlon,dlat]
									]
								}
							}
						},
						"layout": {
							"line-join": "round",
							"line-cap": "round"
						},
						"paint": {
							"line-color": "#888",
							"line-width": 2
						}
					});
                    function animateMarker(timestamp) {
                        setTimeout(function(){
                            requestAnimationFrame(animateMarker);
                            radius += (maxRadius - radius) / framesPerSecond;
                            opacity -= ( .9 / framesPerSecond );
                            map.setPaintProperty('point', 'circle-radius', radius);
                            map.setPaintProperty('point', 'circle-opacity', opacity);
                            if (opacity <= 0) {
                                radius = initialRadius;
                                opacity = initialOpacity;
                            } 
                        }, 1000 / framesPerSecond);
        
                    }
                    function animateMarker2(timestamp) {
                        setTimeout (function() {
                            requestAnimationFrame (animateMarker2);
                            radius += (maxRadius - radius) / framesPerSecond;
                            opacity -= (.9 / framesPerSecond);
                            map.setPaintProperty ('point2','circle-radius',radius);
                            map.setPaintProperty ('point2','circle-opacity',opacity);
                            if ( opacity <= 0 ){
                                radius = initialRadius;
                                opacity = initialOpacity;
                            }
                        }, 1000 / framesPerSecond);
                    }
                    // Start the animation.
                    //animateMarker(0);
                    //animateMarker2(0);
                });
	        }
        }
        function update_max () {
            var sel_id = parseInt ($("#payload_select").val());
        }
        $(document).ready (function () {
            update_max ();
            $("#payload_select").change (function () {
                update_max ();
            });
        });
        
    </script>
    </body>
</html>
